numpy>=2,<3
scipy
pandas
sympy
matplotlib
igraph
tqdm
ipython
jupyterlab
qiskit>=2,<2.2
bqskit>=1.2.1,<1.3
filelock>=3.16,<4
qiskit-aer>=0.17,<0.18
qiskit-ibm-runtime>=0.34,<0.44.1
qiskit-experiments>=0.13,<0.14
python-dotenv
iqm-client[qiskit]>=35,<36
iqm-qubit-selector>=1.1,<2
